.App {
  min-width: 400px;
  max-width: 900px;
  margin: 40px auto;
}

.form-name, .form-timezone {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.input-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

input {
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  max-width: 160px;
  border-radius: 5px;
  border: 1px solid black;
}

.btn-add {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.clock-list {
  display: flex;
  flex-wrap: wrap;
}

.clock {
  width: 100px;
  border: solid 1px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  margin-right: 40px;
}

.btn-del {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  top: -15px;
  border-radius: 50%;
  border: 1px solid black;
  transition: .2s;
  background-color: #fff;
  cursor: pointer;
  color: red;
  font-size: 17px;
}

